<div class="container1">
  <div style="width: 80%; height: 80vh;">
    <div class="title" style="z-index: 200!important;">
      <h2 style="z-index: 201!important; font-size: xxx-large">
      <span style="color: var(--text-color)">
        Contact
      </span>
        <span style="color: var(--mainColorTheme)">
        Me
      </span>
      </h2>
      <h4 style="color: var(--text-color);font-size: x-large;">
        <span style="color: var(--mainColorTheme)">
        Get
      </span>
        in touch.</h4>
    </div>
    <div class="main"
         style="display: flex; flex-direction: row; gap: 10em; z-index: 200!important;margin-top: 4em;margin-bottom: 4em">
      <div style="flex-direction: column; width: 50%;z-index: 202!important;">
        <form [formGroup]="contactForm" (submit)="sendMail()">
          <mat-form-field class="inp">
            <mat-label>Name</mat-label>
            <input matInput  type="text" formControlName="name">
            <mat-error *ngIf="nameError">Kötelező</mat-error>
          </mat-form-field>
          <mat-form-field class="inp">
            <input matInput placeholder="Email" type="text" formControlName="email">
            <mat-error *ngIf="emailError">Kötelező</mat-error>
            <mat-error *ngIf="emailFormatError">Hibás formátum</mat-error>
          </mat-form-field>
          <mat-form-field class="inp">
            <input matInput placeholder="Subject" type="text" formControlName="subject">
            <mat-error *ngIf="subjectError">Kötelező</mat-error>
          </mat-form-field>
          <mat-form-field class="inp" style="height: 100%;">
            <textarea matInput placeholder="Message" type="text" formControlName="message" maxlength="50"></textarea>
            <mat-hint></mat-hint>
            <mat-error *ngIf="messageError">Kötelező</mat-error>
          </mat-form-field>
          <button mat-raised-button type="submit" color="send">Send</button>
        </form>
      </div>
      <div
        style="width: 50%; display: flex; border-radius: 20px; background-size: cover; background-repeat: no-repeat;background-position: center;z-index: 202!important; background-image: url('assets/images/main_bg1.jpg'); justify-content: center;">
        <div style="display: flex; flex-direction: column;   width: fit-content; align-items: flex-start">
          <h1 style="color: #fff;margin-bottom: 2em;">Contact info</h1>
          <div class="outerDiv">
            <mat-icon class="white-icon">person_outline</mat-icon>
            <div class="innerDiv">
              <h3>Name</h3>
              <p>Lőkös Patrik</p>
            </div>
          </div>
          <div class="outerDiv">
            <mat-icon class="white-icon">location_on_outline</mat-icon>
            <div class="innerDiv">
              <h3>Location</h3>
              <p>Budapest, Hungary</p>
            </div>
          </div>
          <div class="outerDiv">
            <mat-icon class="white-icon">phone_callback_outline</mat-icon>
            <div class="innerDiv">
              <h3>Call</h3>
              <p>+36301146606</p>
            </div>
          </div>
          <div class="outerDiv">
            <mat-icon class="white-icon" >alternate_email</mat-icon>
            <div class="innerDiv">
              <h3>E-mail</h3>
              <p>lokospatrik8@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-transition [transitionNumber]="3"></app-transition>
