<div class="settings">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon id="settingsBtn" [ngStyle]="{'color': 'whitesmoke'}">settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="customize">
    <button class="cBtn" mat-menu-item (click)="changeColor('blue')">
      <div class="cSquare" style="background: #ef476f"></div>
    </button>
    <button class="cBtn" mat-menu-item (click)="changeColor('orange')">
      <div class="cSquare" style="background: #ffd166"></div>
    </button>
    <button class="cBtn" mat-menu-item (click)="changeColor('yellow')">
      <div class="cSquare" style="background: #06d6a0"></div>
    </button>
    <button class="cBtn" mat-menu-item (click)="changeColor('purple')">
      <div class="cSquare" style="background: #118ab2"></div>
    </button>
    <button class="cBtn" mat-menu-item (click)="changeColor('red')">
      <div class="cSquare" style="background: #073b4c"></div>
    </button>
  </mat-menu>
</div>
