.container1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  z-index: 3;
}

a{
  text-decoration: none;
  font-size: xx-large;
  font-weight: bold;
  border: 5px solid var(--mainColorTheme);
  border-radius: 10px;
  padding: 20px;
  color: var(--mainColorTheme);
  text-shadow: 0 0 10px var(--mainColorTheme);
  box-shadow: 0 0 10px var(--mainColorTheme), 0 0 40px var(--mainColorTheme), 0 0 80px var(--mainColorTheme);
}

.title{
  margin-top: 5em;
}

.main{
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-top: 4em;
  margin-bottom: 4em;
  z-index: 3;
  width: 80%;
}

.black-bg{
  position: absolute;
  width: 95%;
  height: 350px;
  background-color: black;
  top: 240px;
  left: 2.5em;
}

.main-text{
  display: flex;
  flex-direction: column;
  width: 50%;
  z-index: 4!important;
  justify-content: center;
}
.main-text > h2{
  font-size: clamp(1rem, 3vw + .5rem, 2rem);
}
.main-text > p{
  font-size: clamp(.8rem, 3vw + .5rem, 1.5rem);
}
.main-img{
  width: 50%;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 4!important;
}
.skill {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  justify-content: space-around;
  align-items: center;
  z-index: 4;
  margin-bottom: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  gap: 80px;
  padding: 3em;
}

@media screen and(max-width: 768px){
  .skill{
    flex-direction: column;
  }
  .card{
    width: 80%;
    margin-bottom: 2em;
  }
  .main{
    flex-direction: column-reverse!important;
    justify-content: center;
    align-items: center;
  }
  .container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70em;
    padding-bottom: 30em;
    overflow-x: hidden;
  }
  .main-text{
    width: 80%;
  }
  .main-img{
    width: 80%;
  }
}
@keyframes scaleUp {
  to{
    transform: scale(6);
  }
}
