<div class="container1">
  <div class="title">
    <h2 style="font-size: xxx-large">
      <span style="color: var(--text-color)">
        About
      </span>
      <span style="color: var(--mainColorTheme)">
        Me
      </span>
    </h2>
    <h4 style="color: var(--text-color);font-size: x-large;">Get to know me</h4>
  </div>
  <div class="main">
    <div class="black-bg"></div>
    <div class="main-text">
      <h2 style="color: var(--text-color); text-align: start; ">I'm a <span style="color: var(--mainColorTheme);">creative web developer</span>
        based in Budapest, Hungary.</h2>
      <p
        style="color: var(--text-color); text-align: start;letter-spacing: 2px;font-weight: 400;line-height: normal">
        I graduated from the University of
        Pécs, the Faculty of Science in
        computer science. My range of
        interest involves Web
        Development and various
        frameworks, such as Angular and
        React.JS. I am greatly interested in
        software development and in
        UI/UX. I actively seek possibilities
        to develop my expertise, and to
        expand my knowledge and my
        experiences.</p>
    </div>
    <img class="main-img" src="assets/images/main_bg1.jpg" alt="about_img">
  </div>
  <a style="z-index: 4!important;" class="cvBtn" href="assets/LP_angol_LP_magyar_merged.pdf" download="CV_Patrik_Lokos_HU_EN">Download
    CV</a>
  <div class="title" style="margin-left: 1em">
    <h2 style="font-size: xxx-large">
      <span style="color: var(--mainColorTheme)">
        My
      </span>
      <span style="color: var(--text-color)">
        Services
      </span>
    </h2>
  </div>
  <div class="skill">
    <span class="skillTwo">
      <app-about-card></app-about-card>
      <app-about-card></app-about-card>
    </span>
    <app-about-card></app-about-card>
  </div>
  <div class="title" style="margin-left: 1em">
    <h2 style="font-size: xxx-large">
      <span style="color: var(--mainColorTheme)">
        My
      </span>
      <span style="color: var(--text-color)">
        Skills
      </span>
    </h2>
  </div>
  <div class="grid-container">
    <app-skill *ngFor="let skill of skillData; index as i" [skillName]="skill.name" [percent]="skill.percent"></app-skill>
  </div>
</div>

<app-transition [transitionNumber]="2"></app-transition>
