<img src="assets/images/patrik_logo_new.svg" alt="logo" class="logo position-absolute top-0 start-0 m-4" >
<div class="container1" style="z-index: 2!important;">
  <div class="neon neon1"></div>
  <div style="flex-direction: column;text-align: -webkit-center;">
    <h2 class="hw" >Hello, my name is</h2>
    <div class="patrik">
      <span >
        Patrik
      </span>
      <span>
        Lőkös
      </span>
    </div>
    <p class="tw">I' m a programmer.</p>
  </div>
  <div class="neon neon2"></div>
</div>
<ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
              (particlesLoaded)="particlesLoaded($event)" style="z-index: 1!important;"></ng-particles>

<!--<a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons">Facebook icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin icons created by Google - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icons created by Dave Gandy - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons">Twitter icons created by Pixel perfect - Flaticon</a>-->
