
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logo{
  width: 15%;
  height: 15%;
  filter: brightness(0) invert(1);
}

#menuBtn{
  z-index: 200;
}

#menuBtn:hover{
  animation: rotate .3s ease forwards;
}

.neon{
  position: relative;
  width: 1%;
  height: 500px;
  z-index: 3;
  background: white;
  box-shadow: 0 0 10px var(--mainColorTheme), 0 0 40px var(--mainColorTheme), 0 0 80px var(--mainColorTheme);
  border-radius: 20px;

}
.neon::before{
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.95);
  width: 6px;
  height: 480px;
  z-index: 4;
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
  top: 9px;
  border-radius: 20px;
  left: 3px;
}

.neon1{
  margin-right: 15em;
/*  animation-iteration-count: infinite;
  animation-name: flicker;
  animation-duration: 500ms;
  animation-delay: 8s;*/
}
.neon1::before{
  margin-right: 15em;
}

.neon2{
  margin-left: 15em;
/*  animation-name: flicker;
  animation-duration: 2ms;
  animation-iteration-count: 3;
  animation-timing-function: linear;
  animation-delay: 12s;
  -webkit-animation-delay: 12s;*/
}


.container1{
  display: flex;
  justify-content: center !important;
  height: min-content;
  width: 100%;
  align-items: center;
  flex-direction: row;
  background: var(--darkBgColor);
}

@media screen and(max-width: 768px) {
  .container1{
    flex-direction: column;
  }
  .patrik{
    flex-direction: column!important;
    height: 110px!important;
  }
  .patrik > span:first-child{
    margin-bottom: 100px;
  }
  .neon {
    width: 80%;
    height: 10px;
  }
  .neon1{
    margin-right: 0;
    margin-bottom: 10em;
  }
  .neon2{
    margin-left: 0;
    margin-top: 10em;
  }
  .neon::before {
    width: 95%;
    height: .5em;
    left: 15px;
    top: 2px;
  }

  .neon1::before {
    margin-right: 15em;
  }

  .logo{
    height: fit-content;
  }

}

@media screen and(max-width: 550px) {
  .neon::before {
    width: 75vw;
    height: .5em;
    left: 15px;
    top: 2px;
  }
}
@media screen and(min-width: 1500px) {
  .neon::before {
    left: 5px;
  }

}

@keyframes bg-animation {
  0% {background-position: left}
  100% {background-position: right}
}

.hw{
  color: white;
  align-self: center;
  font-size: clamp(1rem, 3vw + .5rem, 2rem);
  font-family: Argesta, monospace;
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeInDown 2s ease forwards;
}

.patrik{
  color: var(--mainColorTheme);
  font-size: clamp(6rem, 3vw + 1rem, 10rem);
  /* align-self: center; */
  margin: 0.8em 0 0.8em 0;
  height: 50px;
  font-family: Sacramento, monospace;
  opacity: 0;
  transform: translateY(-3rem);
  display: flex;
  flex-direction: row;
  animation: fadeInDown 2s ease forwards;
}
.patrik > span:first-child{
  margin-right: .3em;
}

.tw{
  font-size: clamp(1rem, 3vw + .5rem, 2rem);
  text-align: center;
  color: white;
  align-self: center;
  font-family: Trispace, monospace;
  position: relative;
  margin: 0 !important;
  height: max-content;
  width: max-content;
  //letter-spacing: 4px;
  padding: 0;
  justify-self: center;
}

.tw::before,
.tw::after{
  text-align: center;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  height: fit-content;
}

.tw::before{
  background: var(--darkBgColor);
  //background: green;
  height: clamp(1.5rem, 3vw + .5rem, 2.5rem);
  animation: typeWriter var(--typeWriterSpeed) steps(var(--typeWriterCharacters)) 4s forwards; //forwardstól marad a végén
  top: -20%;
}

.tw::after{
  width: 5px;
  height: clamp(1.5rem, 3vw + .5rem, 2.5rem);
  background: var(--mainColorTheme);
  animation:
    typeWriter var(--typeWriterSpeed) steps(var(--typeWriterCharacters)) 4s forwards,
    blink var(--cursorBlinkSpeed) steps(var(--typeWriterCharacters)) infinite;
  //padding-bottom: .125em;
  top: -25%;
}


@media screen and (max-width: 850px) {
  .tw{
    font-size: clamp(1rem, 3vw + .5rem, 2rem);
    text-align: center;
    color: white;
    align-self: center;
    font-family: Trispace, monospace;
    position: relative;
    margin: 0 !important;
    height: max-content;
    width: max-content;
    //letter-spacing: 4px;
    padding: 0;
    justify-self: center;
  }

  .tw::before,
  .tw::after{
    text-align: center;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    height: fit-content;
  }

  .tw::before{
    background: var(--darkBgColor);
    //background: green;
    height: clamp(1.5rem, 3vw + .5rem, 2.5rem);
    animation: typeWriter var(--typeWriterSpeed) steps(var(--typeWriterCharacters)) 4s forwards; //forwardstól marad a végén
  }

  .tw::after{
    width: 5px;
    height: clamp(1.5rem, 3vw + .5rem, 2.5rem);
    background: var(--mainColorTheme);
    animation:
      typeWriter var(--typeWriterSpeed) steps(var(--typeWriterCharacters)) 4s forwards,
      blink var(--cursorBlinkSpeed) steps(var(--typeWriterCharacters)) infinite;
    //padding-bottom: .125em;
  }
}

@keyframes rotate {
  to{
    transform: rotateZ(180deg);
  }
}

@keyframes blink {
  to{
    background: transparent;
  }
}

@keyframes typeWriter {
  to {
    left: 100%;
  }
}

@keyframes fadeInDown {
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes flicker {
  0%{opacity: 0}
  10%{opacity: 1}
  20%{opacity: 0}
  40%{opacity: 1}
  50%{opacity: 0}
  60%{opacity: 1}
  80%{opacity: 0}
  100%{opacity: 1}
}
