<app-transition [transitionMode]="1"></app-transition>

<div class="container1">
  <div class="position-absolute top-0 end-0 mt-4 me-4 ">
    <button
      id="menuBtn"
      mat-icon-button
      role="button"
      [hidden]="isDialogOpened"
      (click)="menuClicked()"
      style="z-index: 100001">
<!--      <link rel="shortcut icon" href="../../../assets/images/favicon.ico" />-->
      <mat-icon

        [ngStyle]="{'color':'red','transform':'scale(1.5)'}"
      >
        menu
      </mat-icon>
    </button>
  </div>
  <h2 class="hw">Hello, my name is</h2>
  <h1>Patrik Lőkös</h1>
  <p class="tw">I' m a programmer.</p>
</div>
<ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
              (particlesLoaded)="particlesLoaded($event)" style="z-index: -10"></ng-particles>

