//mouse follow circle
.circle{
  width: 30px;
  height: 30px;
  left: 0;
  right: 0;
  border-radius: 50%;
  border: 1px solid var(--mainColorTheme);
  position: absolute;
  animation-duration: .5s;
  overflow: hidden;
  z-index: 3;
}
