/* You can add global styles to this file, and also import other style files */

:root{
  --bg-color: #000d27;
  --typeWriterSpeed: 3s;
  --cursorBlinkSpeed: 800ms;
  --typeWriterCharacters: 17;
  --mainColorTheme: red;
  --gradient: linear-gradient(45deg,
    rgba(59,59,59,0.5) 0%,
    rgba(57,55,105,0.5) 16%,
    rgba(46,46,117,0.5) 34%,
    rgba(37,37,153,0.5) 51%,
    rgba(48,48,164,0.5) 67%,
    rgba(27,27,204,0.5) 83%,
    rgba(0,0,255,0.5) 100%);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden}

@font-face {
  font-family: "Rialltos";
  src: local("Rialltos"), url(./assets/fonts/rialltos-free.ttf) format("truetype");
}

@font-face {
  font-family: "Argesta";
  src: local("Argesta"), url(./assets/fonts/argestadisplay-regular-webfont.ttf) format("truetype");
}

@font-face {
  font-family: "Sacramento";
  src: local("Sacramento"), url(./assets/fonts/Sacramento-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Trispace";
  src: local("Trispace"), url(./assets/fonts/Trispace-Light.ttf) format("truetype");
}
