.transitionDiv-1{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--mainColorTheme);
  opacity: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 0.5s ease-out;
  z-index: 1;
}
.transitionDiv-1.is-active{
  opacity: 1;
  pointer-events: all;
  z-index: 500;
}

.transitionDiv-2{
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  bottom: 0;
  background-color: var(--mainColorTheme);
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 0.5s ease-out;
  z-index: 500;
}
.transitionDiv-2.is-active{
  left: 0;
}

.transitionDiv-3{
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: var(--mainColorTheme);
  transition: 0.5s ease-out;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 500;
}
.transitionDiv-3.is-active{
  top: 0;
}

.logo{
  width: 200px;
  height: 200px;
  filter: brightness(0) invert(1);
}
